/* Root */
:root{
    color-scheme: light dark;

}

img {
    opacity: var(--image-opacity);
    transition: opacity 0.3s ease; 
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --image-opacity: 0.5; 
    }
}
/* Estilo del menu*/
#bg {
    overflow-x:hidden;
    color: light-dark(#333b3c, #efefec);
 background-color: light-dark(#e7e7e7, #202020);
}

nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;

}

.logo-container {
    flex: 1;
}


.logo {
    color: light-dark(rgb(214, 175, 0), #885913);
    text-decoration: none;
    font-family: "Berkshire Swash", serif;
    font-size: 25px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: light-dark(#333b3c, #efefec);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: #f4c542;
}

/* Koini Header tipo presentacion*/

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-content {

    padding: 10%;

}

.image-content {
    display: flex;
    width: 100%;
}


.image-content {
    display: flex;
    width: 100%;
    height: 80vh; 
}

.image-content img {
    width: 100%;
    height: 50%;
    object-fit: cover; 
}

/* tabletas */
@media (max-width: 768px) {
    .image-content {
        height: 50vh; 
    }

    .image-content img {
        height: 50%; 
    }
}

/* Celualres */
@media (max-width: 480px) {
    .image-content {
        height: 30vh; 
        
    }

    .image-content img {
        height: 30%; 
    }
}



.botoncito {
    border-radius: 25px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #4b4030);
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    
    
}

.botoncito:hover {
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#D6AF00, #5e503c);
    transform: scale(1.1);
}

.botoncito2 {
    border-radius: 25px;
    background-color: rgb(236, 193, 113);
    padding: 5px 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #4b4030);
    margin: 0.5%;
}

.botoncito2:hover {
    background-color: #D6AF00;
    transform: scale(1.1);
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#D6AF00, #5e503c);
}


.titulo1 {
    font-family: "Berkshire Swash", serif;
    color: light-dark(#dac569, #9b6b23);
    font-size: 2.5rem; /* Usa rem para un tamaño relativo basado en el tamaño de fuente raíz */
}

/* Media query para tablets (pantallas medianas) */
@media (max-width: 768px) {
    .titulo1 {
        font-size: 2rem; 
    }
}

/* celus */
@media (max-width: 480px) {
    .titulo1 {
        font-size: 1.rem; 
    }
}

.titulo3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; 
    font-style: italic;
    color: #444444;
    color: light-dark(rgb(121, 100, 91), #ffffff);
}

/* tablets */
@media (max-width: 768px) {
    .titulo3 {
        font-size: 1.4rem; 
    }
}

/* celu */
@media (max-width: 480px) {
    .titulo3 {
        font-size: 1rem; 
    }
}



.llamada {
    font-size: 16px;

}



.campo-login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mensaje-error {
    color: red;
    margin-top: 10px;
}


.bg{
    background-color: #f7e6c7;
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #383838);
}

.titulo4{
    text-align: center;
    margin: 5px;
    padding: 5px;
    color: light-dark(#dac569, #9b6b23);
}



.botoncito3{
    width: 50%;
    margin: 10px;
    padding: 10px;
   border-radius: 25px;
  background-color: rgba(255, 222, 173, 0);
   border: solid #EDAA75;
   font-family: 'Poppins', sans-serif;
color: #EDAA75;
     transition: background-color 0.3s ease, transform 0.3s ease;
}

.botoncito3:hover{
    border: solid #DF7A40;
    transform: scale(1.1);
    color: #DF7A40;
}
.centrar{
    text-align: center;
    align-items: center;
}

.coockies {
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 30%; 
    background: rgb(31, 28, 27);
    text-align: center; 
    color: white;
    z-index: 1;
    padding: 1%;
}

/* Media query para tablets (pantallas medianas) */
@media (max-width: 768px) {
    .coockies {
        height: 20%; 
        padding: 2%; 
    }
}

/* Media query para dispositivos móviles (pantallas pequeñas) */
@media (max-width: 480px) {
    .coockies {
        height: 45%; 
        padding: 3%; 
    }
}

/* Contenedor de Productos */
#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}



.custom-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

/* Imagen del Producto */
/* Estilo de la Tarjeta */
.custom-card {
    display: flex;
    flex-direction: row;
    border: none; 
    border-radius: 10px;
    max-width: 600px; 
    background-color: #fff; 
    overflow: hidden; 
    margin: 25px;
}

/* Imagen del Producto */
.custom-card img {
    width: 450px; 
    height: 450px; 
    object-fit: cover; 
    border-right: 1px solid #e0e0e0; 
}

/* Contenido de la Tarjeta */
.custom-card .card-body {
    flex: 2;
    padding: 15px;
    text-align: left; 
}


.custom-card .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.custom-card .card-text {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 10px;
}


/* Estilos de fondo */
.bg2 {
    background-image: url('https://fmrockandpop.com/media/k2/items/cache/43bdaccb0f6fda3be8ffb6f9cfeb8aaa_L.webp?t=20231202_002038');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    margin: 0;
}


.centrador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos de login */
.contenedor-login {
    max-width: 400px;
    padding: 50px;
    background-color: light-dark(#b4a075, #202020);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:light-dark(#202020, #d6d0c2);

}

.titulo-login {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color:light-dark(#202020, #b4a075);
}

.campo-login {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.mensaje-error {
    color: red;
    font-size: 0.875rem;
}


/* Fondo para admin y para Cc */

.bg3{
    background-image: url('https://i.pinimg.com/originals/91/a5/bc/91a5bc78a225a5471554cb7656171a08.gif');
    background-repeat: no-repeat;
    background-position: center;
background-color: #FFFFFF;
    height: 100vh; 
   
}



.contenedor-central {
    display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 25px;
}

.no-style-link {
    text-decoration: none; 
    color: inherit; 

}


.aviso{
    text-align: center;
    margin: 25px;
    padding: 25px;
    width: 100%;
    height: 80%;
}

.aviso h2{
    font-family: 'Poppins', sans-serif;
    color: #DF7A40;
}

.bg4{
    background-image: url('https://i.pinimg.com/originals/0d/12/06/0d12065e9e8220dc54756cda0c532b42.gif');
    background-repeat: no-repeat;
    background-position: center;
background-color: #FFFFFF;
    height: 100vh; 
   

}

/* AJAX */

.ajax{
    margin: 5%;
    padding: 2%;
    align-items: center;
    align-content: center;
    text-align: center;

}

.ajaxcaja1{
    margin: 5%;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: italic;
    color: #444444;
    text-align: left;
}

.portadas{
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.ajaxcaja1 {  
    margin-bottom: 20px; 
}  

.llamada1{
color: #444444;
font-style: italic;
color: light-dark(#333b3c, #efefec);

}

.botonajax{
    border-radius: 25px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #4b4030);    padding: 10px;
    margin: 1%;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botonajax:hover {
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#D6AF00, #5e503c);
    transform: scale(1.1);
}


.fi{
    font-size: 40px;
    color: light-dark(#ddc557, #9b6b23);
}

.tiendaheader{
    background-color: light-dark(#dac569, #685b4b);;
    color: #202020;
     padding: 25px;
}

.card-body{
    background-color: light-dark(#E7E7E7, #202020);
}

#tiendatexto{
    color: light-dark(#000000, #ffffff);
}

.titulo5{
    font-size: 13px;
    text-align: left;
}

.titulo6{
    font-family: 'Poppins', sans-serif;
    color: light-dark(#dac569, #9b6b23);
    text-align: left;
    font-size: 17px;
    margin: 3%;

}

.margenes{
    margin: 10px;
}

.botoncito9{
    width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.botoncito9::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.botoncito9:hover::before {
 width: 9em;
}

.letra{
column-count: 2;
text-align: justify;
}

.comunidadhtml{
    text-align: center;
    margin: 5%;
}

.botoncito4{
    border-radius: 25px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #4b4030);
    height: auto;
    width: 150px;
    padding: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}


.titulo7{
    font-family: 'Poppins', sans-serif;
    color: light-dark(#dac569, #9b6b23);
    font-size: 17px;

}

.imagen2{
    position: absolute;
    left: 0;
    top: 30%; 
    transform: translateY(-50%); 
}

.divisor{
    margin-top: 10%;
}

.orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    margin: 30px auto;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #ff7a01;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #ff7a01;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #ff7a01;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff7a01;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ff7a01
  ´}

  .divisor {
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: justify; 
}


#taskList {
    list-style-type: none; 
    padding: 0; 
    margin: 10px 0; 
    column-count: 3;
text-align: center;
}

.margenes {
    width: calc(100% - 20px); 
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}



