:root {
    color-scheme: light dark;
    --bg-color-light: #e7e7e7; /* Fondo claro */
    --text-color-light: #717272; /* Texto oscuro */
    --bg-color-dark: #202020; /* Fondo oscuro */
    --text-color-dark: #efefec; /* Texto claro */
    --image-opacity-light: 1; /* Opacidad normal */
    --image-opacity-dark: 0.5; /* Opacidad reducida en modo oscuro */
    --nav-bar: #efefec; /* nav bar */
    
}



img {
    opacity: var(--image-opacity);
    transition: opacity 0.3s ease; 
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --image-opacity: 0.5; 
        
    }
}
/* Estilos generales para el fondo y el texto */
#bg {
    color: var(--text-color-light);
    background-color: light-dark(#efedea, #222222);
    transition: background-color 0.3s, color 0.3s;
    
}

#bg p {
    color: var(--text-color-light);
}

#bg img {
    opacity: var(--image-opacity-light);
    transition: opacity 0.3s;
}

/* Estilos del modo oscuro */
#bg.dark {
    color: var(--text-color-dark);
    background-color: var(--bg-color-dark);
}

#bg.dark p {
    color: var(--text-color-dark);
}

#bg.dark img {
    opacity: var(--image-opacity-dark);
}

#bg.dark li a{
    color: var(--nav-bar);
}

nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo-container {
    flex: 1;
}

.logo {
    color: light-dark(rgb(214, 175, 0), #885913);
    text-decoration: none;
    font-family: "Berkshire Swash", serif;
    font-size: 25px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: light-dark(#333b3c, #efefec);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: #f4c542;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: light-dark(#333b3c, #efefec);
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .nav-menu {
        display: none; 
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-menu.active {
        display: flex; 
    }

    .nav-menu li {
        margin: 10px 0;
    }
}



/* Koini Header tipo presentacion*/

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-content {

    padding: 10%;

}

.image-content {
    display: flex;
    width: 100%;
}


.image-content {
    display: flex;
    width: 100%;
    height: 80vh; 
}

.image-content img {
    width: 100%;
    height: 50%;
    object-fit: cover; 
}

/* tabletas */
@media (max-width: 768px) {
    .image-content {
        height: 50vh; 
    }

    .image-content img {
        height: 50%; 
    }
}

/* Celualres */
@media (max-width: 480px) {
    .image-content {
        height: 30vh; 
        
    }

    .image-content img {
        height: 30%; 
    }
}



.botoncito {
    border-radius: 25px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #806743);
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    
    
}

.botoncito:hover {
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#D6AF00, #5e503c);
    transform: scale(1.1);
}

.caja {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px; 
    justify-content: center; 
    margin-top: 10px;
}

.botoncito2 {
    border-radius: 25px;
    background-color: rgb(236, 193, 113);
    padding: 5px 5px;
    border: none;
    font-size: 14px;
    color: light-dark(#333b3c, #ffffff);
    background-color: light-dark(#dac569, #797979);
    margin: 0.5%;
}

.botoncito2:hover {
    
    transform: scale(1.1);
    color: light-dark(#333b3c, #ffffff);
    background-color: light-dark(#D6AF00, #a0734e);
}


.titulo1 {
    font-family: "Berkshire Swash", serif;
    color: light-dark(#dac569, #9b6b23);
    font-size: 2.5rem; 
}

/* Media query para tablets (pantallas medianas) */
@media (max-width: 768px) {
    .titulo1 {
        font-size: 2rem; 
    }
}

/* celus */
@media (max-width: 480px) {
    .titulo1 {
        font-size: 1.rem; 
    }
}

.titulo3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; 
    font-style: italic;
    color: #444444;
    color: light-dark(rgb(121, 100, 91), #ffffff);
}

/* tablets */
@media (max-width: 768px) {
    .titulo3 {
        font-size: 1.4rem; 
    }
}

/* celu */
@media (max-width: 480px) {
    .titulo3 {
        font-size: 1rem; 
    }
}



i{
    color: light-dark(#333b3c, #ffffff);


} 



.campo-login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mensaje-error {
    color: red;
    margin-top: 10px;
}


.bg{
    background-color: #f7e6c7;
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #383838);
}

.titulo4{
    text-align: center;
    margin: 5px;
    padding: 5px;
    color: light-dark(#dac569, #9b6b23);
}



.botoncito3{
    width: 50%;
    margin: 10px;
    padding: 10px;
   border-radius: 25px;
  background-color: rgba(255, 222, 173, 0);
   border: solid #EDAA75;
   font-family: 'Poppins', sans-serif;
color: #EDAA75;
     transition: background-color 0.3s ease, transform 0.3s ease;
}

.botoncito3:hover{
    border: solid #DF7A40;
    transform: scale(1.1);
    color: #DF7A40;
}
.centrar{
    text-align: center;
    align-items: center;
}

.coockies {
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 30%; 
    background: rgb(31, 28, 27);
    text-align: center; 
    color: white;
    z-index: 1;
    padding: 1%;
}

/* Media query para tablets  */
@media (max-width: 768px) {
    .coockies {
        height: 20%; 
        padding: 2%; 
    }
}

/* Media query para celulares */
@media (max-width: 480px) {
    .coockies {
        height: 40%; 
        padding: 3%; 
    }
}

/* Contenedor de Productos */
#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    
}



.custom-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

/* Imagen del Producto */
/* Estilo de la Tarjeta */
.custom-card {
    display: flex;
    flex-direction: row;
    border: none; 
    border-radius: 10px;
    max-width: 600px; 
    background-color: light-dark(#fffdf6, #000000);
    overflow: hidden; 
    margin: 25px;

    
    
}



/* Imagen del Producto */
.custom-card img {
    width: 20%; 
    height: auto; 
    background-color: light-dark(#fffdf6, #2c2c2c);
}

/* Contenido de la Tarjeta */
.custom-card .card-body {
    flex: 2;
    padding: 15px;
    text-align: left; 
}


.custom-card .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.custom-card .card-text {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 10px;
}


/* Estilos de fondo */
.bg2 {
    background-image: url('https://fmrockandpop.com/media/k2/items/cache/43bdaccb0f6fda3be8ffb6f9cfeb8aaa_L.webp?t=20231202_002038');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    margin: 0;
}


.centrador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.botoncito6 {
    border-radius: 5px;
    background-color: rgba(236, 193, 113, 0);
    padding: 5px 5px;
    border: solid;
    border-color: rgb(236, 193, 113);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #4b4030);
    margin: 1%;
    color: light-dark(#333b3c, #dac569);
}

.botoncito6:hover {
    background-color: #D6AF00;
    transform: scale(1.1);
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#D6AF00, #5e503c);
}

/* Estilos de login */
.contenedor-login {
    max-width: 400px;
    padding: 50px;
    background-color: light-dark(#b4a075, #202020);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:light-dark(#202020, #d6d0c2);

}

.titulo-login {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color:light-dark(#202020, #b4a075);
}

.campo-login {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.mensaje-error {
    color: red;
    font-size: 0.875rem;
}


/* Fondo para admin y para Cc */

.bg3{
    background-image: url('https://i.pinimg.com/originals/91/a5/bc/91a5bc78a225a5471554cb7656171a08.gif');
    background-repeat: no-repeat;
    background-position: center;
background-color: #FFFFFF;
    height: 100vh; 
   
}



.contenedor-central {
    display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 25px;
}

.no-style-link {
    text-decoration: none; 
    color: inherit; 

}


.aviso{
    text-align: center;
    margin: 25px;
    padding: 25px;
    width: 100%;
    height: 80%;
}

.aviso h2{
    font-family: 'Poppins', sans-serif;
    color: #DF7A40;
}

.bg4{
    background-image: url('https://i.pinimg.com/originals/0d/12/06/0d12065e9e8220dc54756cda0c532b42.gif');
    background-repeat: no-repeat;
    background-position: center;
background-color: #FFFFFF;
    height: 100vh; 
   

}

/* AJAX */

.ajax{
    padding: 2%;
    align-items: center;
    align-content: center;
    text-align: center;

}

.ajaxcaja1{
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: italic;
    color: #444444;
    text-align: left;
    
}

.portadas{
    text-align: center;
    margin: 1%;
    padding: 1%;
}


.llamada1{
font-style: italic;
color: light-dark(rgb(121, 100, 91), #ffffff);
}

.botonajax{
    border-radius: 25px;
    color: light-dark(#333b3c, #ffffff);
    background-color: light-dark(#dac569, #4b4030);    padding: 10px;
    margin: 1%;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botonajax:hover {
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#D6AF00, #5e503c);
    transform: scale(1.1);
}


.fi{
    font-size: 40px;
    color: light-dark(#ddc557, #9b6b23);
}

.tiendaheader{
    background-color: light-dark(#dac569, #685b4b);;
    color: #202020;
     padding: 25px;
}

.card-body{
    background-color: light-dark(#E7E7E7, #202020);
}

#tiendatexto{
    color: light-dark(#000000, #ffffff);
}

.titulo5{
    font-size: 13px;
    text-align: left;
}

.titulo6 {
    font-family: 'Poppins', sans-serif;
    color: light-dark(#dac569, #9b6b23);
    text-align: left;
    font-size: 17px;
    margin: 3%;
}

/* celu */
@media (max-width: 600px) {
    .titulo6 {
        font-size: 14px; 
    }
}

/* discografia */
.discografia{
    width: 100px;
}

.margenes{
    margin: 10px;
}


.letra{
column-count: 2;
text-align: justify;
color: light-dark(#333b3c, #ffffff);

}

.comunidadhtml{
    text-align: center;
    margin: 5%;
}

.botoncito4{
    border-radius: 25px;
    color: light-dark(#333b3c, #000000);
    background-color: light-dark(#dac569, #4b4030);
    height: auto;
    width: 150px;
    padding: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}


.titulo7{
    font-family: 'Poppins', sans-serif;
    color: light-dark(#dac569, #9b6b23);
    font-size: 17px;

}

.imagen2{
    position: absolute;
    left: 0;
    top: 30%; 
    transform: translateY(-50%); 
}

.divisor{
    margin-top: 10%;
}

.orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    margin: 30px auto;
    background-color: var(--background-color);
    padding: 30px;
    border-left: 5px solid #d6af00;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-container .form .input {
    color: var(--text-color);
    width: 100%;
    background-color: var(--background-color);
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #d6af00;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: #d6af00;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #d6af00;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #d6af00;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #d6af00;
    color: #d6af00;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #d6af00);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #d6af00;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #d6af00
  ´}

  .divisor {
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: justify; 
}


#taskList {
    list-style-type: none; 
   margin: 2%;
   padding: 2%;
    column-count: 3;
    text-align: justify;
    line-height: 2.0;
}

.margenes {
    width: calc(100% - 20px); 
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}



  .botoncito9 {
    --color: #D6AF00;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: #d6af00;
    border: 2px solid #d6af00;
    border-radius: 6px;
    position: relative;
  }
  
  .botoncito9::before {
    position: absolute;
    content: "";
    background: #d6af00;
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .botoncito9:hover {
    color: white;
  }
  
  .botoncito9:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .botoncito9:hover::before {
    top: -30px;
    left: -30px;
  }
  
  .arte {
    width: 50%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    text-align: center; 
}

.lista {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* From Uiverse.io by Galahhad */ 
.theme-switch {
    --toggle-size: 30px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme-switch__checkbox {
    display: none;
  }
  
  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }